---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Alejandro Sáez  - jaaneo.dev";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>jaaneo.dev</h1>
    <span class="badge">Alejandro Sáez (Developer)</span>
    <h2>Sobre mi</h2>
    <p>
        Soy un Desarrollador IoT Senior con amplia experiencia en la implementación de soluciones de automatización residencial. 
        A lo largo de mi carrera, he trabajado con diversas tecnologías y plataformas de vanguardia, ayudando a crear hogares 
        inteligentes más eficientes, seguros y personalizados.
        
        Tengo un profundo conocimiento de protocolos de comunicación como Z-Wave, Zigbee, y KNX, y he trabajado extensamente 
        con marcas líderes del sector, como Fibaro, Vimar, y plataformas de integración como Home Assistant y HomeKit. 
        También tengo experiencia en la automatización con control de voz utilizando Alexa, Google Home y Siri.
    </p>
    <p>
        He liderado proyectos de automatización de viviendas desde su planificación hasta la implementación, 
        trabajando con un enfoque centrado en la eficiencia energética, la seguridad y la comodidad del usuario. 
        Mi experiencia abarca desde la integración de dispositivos inteligentes hasta el desarrollo de aplicaciones 
        personalizadas que mejoran la interacción y el control de los sistemas de automatización.
        
        Mi capacidad para combinar la programación con las soluciones de automatización me permite desarrollar sistemas robustos, 
        personalizables y alineados con las necesidades específicas de cada cliente.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">Mi portafolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="DotNetCore" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
    <h2>Contacto</h2>
    <p>
        Si estás buscando soluciones innovadoras para tu hogar inteligente o proyectos de IoT, 
        no dudes en ponerte en contacto conmigo. Estoy siempre abierto a nuevos desafíos y 
        proyectos apasionantes que impulsen la tecnología del futuro.
    </p>
</Layout>

