---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/jaaneo" target="_blank"><span class="git-icon">GitHub</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="mailto: jaaneo@gmail.com"><span class="mail-icon">Email</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="https://www.linkedin.com/in/alejandro-s%C3%A1ez-m%C3%A9ndez-b89673a2/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BryZLdWZPQI68tALbDZZThA%3D%3D" target="_blank"><span class="linked-in">LinkedIn</span></a></li>
        </ul>
        <small>&copy; {year} jaaneo.dev by <a class="footer__link" href="https://github.com/jaaneo">jaaneo</a>. All Rights Reserved.</small>
    </div>
</footer>

